[submodule "zsh/.zsh/oh-my-zsh"]
	path = zsh/.zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/.zsh/antigen"]
	path = zsh/.zsh/antigen
	url = git@github.com:zsh-users/antigen.git
